body {
    max-width: 1500px;
}

button {
    width: 200px;
    max-height: 300px;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

div {
    font-size: 25px;
}